@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    letter-spacing: 0.04em;
    margin: 20px 40px 0px;
    background: white;
    font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
    font-size: 14px;
}

p {
    margin: 10px 40px 0px;
}

h3 {
    font-weight: lighter;
    color: #004dff;
    margin: 20px 20px 0px;
    font-size: 42px;
}

h4 {
    margin: 20px 20px 0px;
    line-height: 1.4em;
    font-size: 24px;
    font-weight: normal;

}

#artistlist {
   -moz-column-count: 3;
   -webkit-column-count: 3;
   column-count: 3;
   list-style: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #303030;
    text-decoration: none;
}

a:hover {
    color: #004dff;
    text-decoration: none;
}
