{% extends "_base.html.j2" %}

{% block title %}
tiny PALACE
{% endblock %}

{% block content %}

<p class="tags-menu">
  <select name="tags">
    <option value="tags1">tags1</option>
    <option value="tags2">tags2</option>
    <option value="tags3">tags3</option>
    <option value="tags4">tags4</option>
    <option value="tags5">tags5</option>
  </select>
</p>

<ul id="artistlist">
  {% for alphabet,artist_group in sorted_by_name %}
  <li>
    <h3>{{ alphabet }}</h3>
    <ul class="artist-group">
    {% for artist in artist_group %}
    <div class="fav-{{ artist.fav }}">
      <li class="artist" data-alphabet="{{ artist.alphabet }}">
        <h4 class="{{ " ".join(artist.tags) }}">
          <a href="/artist/{{ artist.slug }}/" target="_blank">{{ artist.name }}</a>
        </h4>
      </li>
    </div>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

{% endblock %}
