@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(//fonts.googleapis.com/css?family=Lato:100);

body {
    letter-spacing: 0.04em;
    margin: 20px 40px 0px;
    background: white;
    font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
    font-size: 14px;
}

.tags-menu {
    margin: 40px 20px 40px;
}

.fav-b, .fav-c, .fav-d {
  display:none;
}

.image-capture {
  margin: 20px 20px 20px;
}

p {
    margin: 10px 20px 0px;
}

h3 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    color: #004dff;
    margin: 40px 20px 0px;
    font-size: 42px;
}

h4 {
    margin: 20px 20px 0px;
    line-height: 1.4em;
    font-size: 24px;
    font-weight: normal;

}

#artistlist {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    list-style: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.prev_next {
    margin: 0px 20px 0px;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #303030;
    text-decoration: none;
}

a:hover {
    color: #004dff;
    text-decoration: none;
}
